{{ _('Dear') }} <b>{{ user.username }}</b>,
<p>
    {{ _('You have requested password reset for <b>Leons pitches</b> account.') }}
    <br>{{ _('To reset your password please') }} <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">{{ _('click here') }}</a>.
    <br>{{ _('paste this on your url:') }}
    <br>{{ url_for('auth.reset_password', token=token, _external=True) }}
    <br>{{ _('Ignore is falsely received') }}
</p>
<p>
    {{ _('Hope that helps') }},
    <br>{{ _('Leon Dante') }}
</p>
<p>
    <small>{{ _('these are really unmonitored') }}</small>
</p>