{% extends "base.html" %}

{% block title %}pitches - {{ _('Confirm your account') }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        {{ _('Hello') }}, {{ current_user.username }}!
    </h1>
    <h3>{{ _('This account isnt yet verified') }}</h3>
    <p>
        {{ _('Validate your account before proceeding further , check your email for assistance') }}
    </p>
    <p>
        {{ _('Get another verification link?') }}
        <a href="{{ url_for('auth.resend_confirmation') }}">{{ _('Click right here!') }}</a>.
    </p>
</div>
{% endblock %}